@import url("jquery-ui-1.8.23.custom.css");
@import url("flame.css");
.fb-tooltip {
}
	
.fb-language-selection  label{
	border:0;
	background-color:#131313; 
}

.fb-language-selection{
	border-color:#131313;
}

.flame-menu {
	background-color:#3D647F;
}

.flame-list-item-view{
	background-color:#3D647F;
}

.fb-tooltip  .fb-tooltip-span{
	display:table;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	text-indent:5px;
	color:#2BB0D7;
	padding: 1px 1px 1px 1px;
	border:1px solid #3D647F;
	background:#CEE5F5;
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px; 
}
.ui-accordion-override{
	position:static;
	display:inline-block;
}

.fb-accordion-content-view{
	border:0;
}