<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<import resource="classpath:tpl.xml" />
	<context:component-scan base-package="com.fastbiz.solution.idm.dal" />
	<context:component-scan base-package="com.fastbiz.solution.idm.service" />
	<bean id="passwordEncoder" class="com.fastbiz.solution.idm.adapter.authentication.SHAPasswordEncoder" />
	<beans profile="debug">
		<bean id="ENTITY_SOURCES" class="com.fastbiz.core.service.provisioning.JsonEntitySources" scope="prototype">
			<property name="JsonFiles">
				<list>
					<bean class="com.fastbiz.core.service.provisioning.JsonEntitySources$JsonFile">
						<property name="fileName" value="sample/user.json" />
						<property name="entityClassName" value="com.fastbiz.solution.idm.entity.User[]" />
					</bean>
				</list>
			</property>
			<property name="postConstructors">
				<list>
					<bean class="com.fastbiz.solution.idm.provisioning.UserPostConstructor">
						<property name="passwordEncoder" ref="passwordEncoder" />
					</bean>
				</list>
			</property>
		</bean>
	</beans>
</beans>